.footer{
    display: flex;
    justify-content: space-around;
    background-color: #6278F7;
    color: #fff;
    padding: 75px;
    align-items: center;
        
}
.footer div{
    display: flex;
    column-gap: 34px;
}

.footer p{
    font-size: 20px;
    font-weight: 500;
}